<div class="row">
    <div *ngFor="let d of data" class="col-sm-6 mx-auto">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{d.id}}</h5>
                <p class="card-text">{{d.content}}</p>
                <button class="btn btn-danger" (click)="delete(d.id)">Delete</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <app-add-task></app-add-task>
        <button class="btn" (click)="logout()">logout</button></div>

</div>